@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Rimuoviamo ogni possibile interferenza */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
.dark body {
  background-color: #111827 !important; /* Grigio scuro di Tailwind */
  color: white !important;
}
@keyframes fadeInLog {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-log {
  animation: fadeInLog 0.3s ease-out forwards;
}



